<head>
    <meta charset="utf-8">
    <!-- <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> -->
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quadriq - Software Development</title>
    <meta name="description" content="Software Development, Web, Mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ site.baseurl}}/assets/images/logo_browser.png">

    <link rel="stylesheet" href="{{ "/assets/css/highlighter.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% seo %}

</head>
