<div class="navbar-fixed">
  <nav id="xnav" class="z-depth-1 main big">
    <div class="container container-large">
      <div class="nav-wrapper">
        <a class="hide-on-med-and-down">
          <img src="{{ site.baseurl}}/assets/images/logo.png" class="header_img"></a>
        <a href="/" class="brand-logo">
          Quadriq
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          {% assign navigation_pages = site.html_pages | sort : 'navigation_weight' %}
          {% for p in navigation_pages %}
            {% if p.navigation_weight %}
              {% if p.lang contains "de" %}
                <li>
                  <a href="{{ p.url }}" {% if p.url == page.url %} class="active" {% endif %}>
                    {{ p.title }}
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>

        <ul class="side-nav" id="mobile-demo">
          {% assign navigation_pages = site.html_pages | sort : 'navigation_weight' %}
          {% for p in navigation_pages %}
            {% if p.navigation_weight %}
              {% if p.lang contains "de" %}
                <li>
                  <a href="{{ p.url }}" {% if p.url == page.url %} class="active" {% endif %}>
                    {{ p.title }}
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>


{% if page.url == "/"  %}
  <style media="screen">
    nav {
      position: absolute;
      top: 0;
      z-index: 10;
      background: #fff;
      width: 100%;
      background: transparent;
      transition-duration: 1s;
    }

  </style>

  <!-- Header -->
  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Herzlich Willkommen auf quadriq.com</div>
        <br/>
        <div class="intro-heading"></div>
        <a href="/about" class="page-scroll btn btn-xl" data-scroll>Projects</a>
      </div>
    </div>
  </header>

  <!-- <script>::  see _includes/js.html-->

{% endif %}
