---
# Transform Sass into css
---

$primary-color: #2E7D32;
$primary-color-dark: #1B5E20;
$primary-color-light: #66BB6A;
$primary-color-text: #000000;
$accent-color: #76FF03;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
$button-color-disabled: $primary-color-dark;
$button-bg-color-disabled: $primary-color-dark;

@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.big {
  height: 80px;
  line-height: 80px;
}

nav{
  transition-duration: 0.5s;
}

nav ul li .active{
   border-bottom: 2px solid red;
   bottom: 0;
   content: "";
   left: 0;
}

nav ul li:hover{
   border-bottom: 2px solid red;
   bottom: 0;
   content: "";
   left: 0;
}

.side-nav{
  left: 0.01%;
}

.card{

  &.hoverble {
    box-shadow: none;
    &:hover{
      @extend .z-depth-2;
    }
  }

  &.hoverble_1 {
    @extend .z-depth-1;
    &:hover{
      @extend .z-depth-2;
    }
  }

}

.header_img{
  margin-right:10px;
  margin-top:15px;
  height: 40px;
  transition-duration: 0.5s;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}


pre {
  display: block;
  padding: 11px;
  margin: 0 0 11.5px;
  font-size: 12px;
  line-height: 1.846;
  word-break: break-all;
  word-wrap: break-word;
  color: #212121;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 3px;
}
.hspace {
  height: 20px;
}
header {
  margin-top: -70px;
  background-image: url("/assets/images/ny.jpg");
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  height: 400px;
}
header .intro-text {
  padding-top: 250px;
  padding-bottom: 50px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff6c00;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
