---
layout: default
---

<br/>

<div class="post-title">
    <div class="logo">
        {% if page.logo %}
            <i class="fa fa-{{ page.logo }} fa-fw"></i>
        {% else %}
            <i class="fa fa-question-circle fa-fw"></i>
        {% endif %}
    </div>
    <div class="title">
        <h2>{{ page.title }}</h2>
        {% if page.date %}
        <span>
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: site.date_format }}
                {% if site.disqus_shortname %}
                    &middot;
                    <a href="{{ site.url }}{{ page.url }}index.html#disqus_thread" data-disqus-identifier="{{ page.url }}"></a>
                    {% if page.update_date %}
                        &middot;
                        Updated {{ page.update_date | date: site.date_format }}
                    {% endif %}
                {% endif %}
            </time>
        </span>
        {% endif %}
    </div>
</div>

<div>
    <br/>
</div>

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'perfectlyrandom'; // required: replace example with your forum shortname
        // var disqus_developer = 1; // Comment out when the site is live
        var disqus_identifier = "{{ page.url }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
